.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    color: inherit;
    text-align: center;
  }
  
    .chart-wrapper {
  
  
  
        position: relative;
  
  
  
  
  
        margin-left: auto;
  
  
  
        margin-right: auto;
  
  
  
        margin-bottom: 3em;
  
  
  
    }
    .chart-wrapper canvas {
        width: 100% !important;
        height: 100% !important;
    }
  .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    letter-spacing: -0.04em;
  }
  
  .center-text.bottom {
    top: auto;
    bottom: 0;
    transform: translate(-50%, 0);
  }
  

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }

  .caption-text {
    font-size: 1em;
    margin-bottom: 0.5rem;
  }
  
  .source-text {
    font-size: 12px;
    line-height: 1.3;
  }
  
  .source-text a {
    color: inherit;
    text-decoration: none;
  }
  
  .source-text a:hover {
    text-decoration: underline;
  }
  